In [1]:
tup = (4, "test")
i, x = tup
print(f"i = {i}, x = {x}, tup = {tup}")

i = 4, x = test, tup = (4, 'test')

In [2]:
company_revenue = [5.12, 5.20, 5.50, 6.50]

for index, value in enumerate(company_revenue):
    print(f"Month {index + 1} revenue was: {value} billion dollars")

Month 1 revenue was: 5.12 billion dollars
Month 2 revenue was: 5.2 billion dollars
Month 3 revenue was: 5.5 billion dollars
Month 4 revenue was: 6.5 billion dollars

In [3]:
company_revenue = [5.12, 5.20, 5.50, 6.50]

for index, value in enumerate(company_revenue):
    print(f"quarter {index} revenue is: ${value} million")

quarter 0 revenue is: $5.12 million
quarter 1 revenue is: $5.2 million
quarter 2 revenue is: $5.5 million
quarter 3 revenue is: $6.5 million

The enumerate() function in Python adds a counter to an iterable and returns an enumerate object, which is an iterator of tuples containing index-value pairs. It simplifies looping over sequences when both the position and value are needed.

The function uses enumerate(iterable, start=0), where iterable is any sequence like a list or tuple, and start sets the initial index (defaults to 0).

In [4]:
enumerate(company_revenue)

In [5]:
list(enumerate(company_revenue))

[(0, 5.12), (1, 5.2), (2, 5.5), (3, 6.5)]

In [6]:
cities = ["Phoenix", "Austin", "San Diego", "New York"]
state = ["Arizona", "Texas", "California", "New York"]

for state, city in zip(state, cities):
    print(f"{city} is the capital of {state}")

Phoenix is the capital of Arizona
Austin is the capital of Texas
San Diego is the capital of California
New York is the capital of New York

In [7]:
cities = ["Phoenix", "Austin", "San Diego", "New York"]
states = ["Arizona", "Texas", "California", "New York"]

for st, ci in zip(states, cities):
    print(f"{ci} is the capital of {st}")

Phoenix is the capital of Arizona
Austin is the capital of Texas
San Diego is the capital of California
New York is the capital of New York

In [8]:
states[index]

'New York'

In [9]:
total = 0
i = 0
while total <= 1000:
  i = i + 1
  total = total + i

print("The answer is", i,".")

The answer is 45 .

In [10]:
while i < 3:
  print(i)
  i = i + 1

print("done")

done

In [11]:
total = 0
for i in range(1001):
  total = total + i
  if total > 1000:
    break

print("The answer is", i)

The answer is 45

In [12]:
for i in range(1, 11):
  if i % 2 == 0:  # an even number... This is modulus division
    continue

  print(i, "is an odd number!")

1 is an odd number!
3 is an odd number!
5 is an odd number!
7 is an odd number!
9 is an odd number!

In [13]:
for i in range(1, 11):
  if i % 2 == 0:
    continue

print(i, "is an odd number!")

10 is an odd number!

In [14]:
x = list(range(4))

# Create squared values with a loop
x2_loop = []
for x_val in x:
    x2_loop.append(x_val**2)

# Create squared values with a comprehension
x2_comp = [x_val**2 for x_val in x]

print(x2_loop)
print(x2_comp)

[0, 1, 4, 9]
[0, 1, 4, 9]

In [15]:
x = list(range(4))

[val**2 for val in x]

[0, 1, 4, 9]

In [16]:
# Create a dictionary from lists
tickers = ["AAPL", "GOOGL", "TVIX"]
prices = [175.96, 1047.43, 8.38]
d = {key: value for key, value in zip(tickers, prices)}
d

{'AAPL': 175.96, 'GOOGL': 1047.43, 'TVIX': 8.38}

In [17]:
# Create a list from a dictionary
d = {"AMZN": "Seattle", "TVIX": "Zurich", "AAPL": "Cupertino"}

hq_cities = [d[ticker] for ticker in d.keys()]
hq_cities

['Seattle', 'Zurich', 'Cupertino']