In [1]:
i = 5
def func():
  global i
  i += 1
func()
print(i)

6

In [2]:
list = [1.2, 5, "Hello"]
tuple = (1.2, 5, "Hello")
dict = {"AMZ": 100,
        "APPL":200}

In [3]:
dict1 = {"Name": "John", "Age": 20}

In [4]:
china_data_2015 = ("China", 2015, 11.06, 1.371)

print(china_data_2015)

('China', 2015, 11.06, 1.371)

In [5]:
china_data = {
    "country": "China",
    "year": 2015,
    "GDP": 11.06,
    "population": 1.371
}

In [6]:
companies = {"AAPL": {"bid": 175.96, "ask": 175.98},
             "GE": {"bid": 1047.03, "ask": 1048.40},
             "TVIX": {"bid": 8.38, "ask": 8.40}}

In [7]:
print(china_data["year"])

2015

In [8]:
print(f"country = {china_data['country']}, population = {china_data['population']}")

country = China, population = 1.371

In [9]:
print(companies["AAPL"])

{'bid': 175.96, 'ask': 175.98}

In [10]:
print(companies["AAPL"]["bid"])

175.96

In [11]:
print(china_data)

{'country': 'China', 'year': 2015, 'GDP': 11.06, 'population': 1.371}

In [12]:
china_data["unemployment"] = "4.05%"
print(china_data)

{'country': 'China', 'year': 2015, 'GDP': 11.06, 'population': 1.371, 'unemployment': '4.05%'}

In [13]:
print(china_data["unemployment"])

4.05%

In [14]:
len(china_data)

5

In [15]:
china_data.keys()

dict_keys(['country', 'year', 'GDP', 'population', 'unemployment'])

In [16]:
china_data.get("irrigated land")

In [17]:
print(china_data.get("irrigated land"))

None

In [18]:
china_data.get("irrigated land", "Data Not Available")

'Data Not Available'

In [19]:
if True:
  print("This is where 'True' code is run")

This is where 'True' code is run

In [20]:
if 1 < 2:
  print("This is where 'True' code is run")

This is where 'True' code is run

In [21]:
if False:
  print("This is where 'True' code is run")

In [22]:
if 1 > 2:
  print("This is where 'True' code is run")

Prints only if statement is True.

In [23]:
val = True

if val is True: # Check an expression
  print("code is run")
  print("More codes run") # Inside if block

print("Code runs after 'if' block, regardless of val") # Outside if block

code is run
More codes run
Code runs after 'if' block, regardless of val

In [24]:
val = True

if val is False: # Check an expression
  print("code is run")
  print("More codes run") # Inside if block

print("Code runs after 'if' block, regardless of val") # Outside if block

Code runs after 'if' block, regardless of val

In [25]:
if (1 < 2) is True:
  print("1 < 2")

if 1 < 2:
  print("1 < 2")

1 < 2
1 < 2

In [26]:
import datetime # datetime(year, month, date)
halloween = datetime.date(2017, 10, 31)

if halloween.month > 9:
    print("Halloween is in Q4")
elif halloween.month > 6:
    print("Halloween is in Q3")
elif halloween.month > 3:
    print("Halloween is in Q2")
else:
    print("Halloween is in Q1")

Halloween is in Q4

In [27]:
halloween.month

10